<form class="container text-info">

<div class='mb-5 '>
{{> post-info post}}
</div>

{{#if loggedIn}}
    <div class="form-group mb-5">
        <textarea class='form-control btn-outline-info my-2 my-sm-0 bg-dark' name="comment-body"></textarea>
    </div>

    <div class='mb-5'>
        <button class='btn btn-outline-info my-2 my-sm-0 mr-5' type="submit">add comment</button>
    </div>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}
</form>